.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 43.75rem;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/debut-dark.png");
  position: absolute;
}
