.left {
  position: relative;
  margin: 0rem;
  padding: 0rem;
  width: 14%;
  height: 100%;
  align-items: center;
  display: inline-block;
}
.tool-box {
  width: 7.5rem;
  height: 22.5rem;
  margin: 5rem auto;
  background-color: white;
}
.clear-canvas {
  width: 6rem;
  height: 6rem;
  margin: 4rem auto;
  background-color: white;
}
