.left {
  margin: 0rem;
  padding: 0rem;
  width: 14%;
  height: 100%;
  align-items: center;
  flex: 1;
}
.tool-box {
  width: 7.5rem;
  height: 22.5rem;
  margin: 5rem auto;
}
.clear-canvas {
  width: 6rem;
  height: 6rem;
  margin: 4rem auto;
}
.tool {
  margin: 0rem;
  width: 7.5rem;
  height: 7.5rem;
}
.btn {
  margin: 0%;
  height: 100%;
  width: 100%;
}
